# Encoding

El encoding o codificación es el proceso de convertir valores categóricos en valores numéricos. Esta técnica es necesaria cuando el dataset va a ser utilizado para alimentar ciertos algoritmos de machine learning que no son capaces de manejar valores categóricos.

In [6]:
import pandas as pd

# Leer csv
df = pd.read_csv('../data/globos/globos.data')
df.columns = ["color","size","shape","age","result"]
df

     color   size    shape    age result
0   YELLOW  SMALL  STRETCH  CHILD      T
1   YELLOW  SMALL      DIP  ADULT      T
2   YELLOW  SMALL      DIP  CHILD      F
3   YELLOW  SMALL      DIP  CHILD      F
4   YELLOW  LARGE  STRETCH  ADULT      T
5   YELLOW  LARGE  STRETCH  CHILD      T
6   YELLOW  LARGE      DIP  ADULT      T
7   YELLOW  LARGE      DIP  CHILD      F
8   YELLOW  LARGE      DIP  CHILD      F
9   PURPLE  SMALL  STRETCH  ADULT      T
10  PURPLE  SMALL  STRETCH  CHILD      T
11  PURPLE  SMALL      DIP  ADULT      T
12  PURPLE  SMALL      DIP  CHILD      F
13  PURPLE  SMALL      DIP  CHILD      F
14  PURPLE  LARGE  STRETCH  ADULT      T
15  PURPLE  LARGE  STRETCH  CHILD      T
16  PURPLE  LARGE      DIP  ADULT      T
17  PURPLE  LARGE      DIP  CHILD      F
18  PURPLE  LARGE      DIP  CHILD      F

In [19]:
from sklearn.preprocessing import OneHotEncoder

# Crear modelo
oh_encoder = OneHotEncoder()
# Ajustar el modelo sobre las columnas
dummy_color = pd.get_dummies(df['color'], prefix='color')
#df["color"] = oh_encoder.fit_transform(df["color"].tolist())
#color
#df["color"]
dummy_color

    color_PURPLE  color_YELLOW
0              0             1
1              0             1
2              0             1
3              0             1
4              0             1
5              0             1
6              0             1
7              0             1
8              0             1
9              1             0
10             1             0
11             1             0
12             1             0
13             1             0
14             1             0
15             1             0
16             1             0
17             1             0
18             1             0